Avanzada/vscode-portable-win64-1.67.2-46-setup.exe filter=lfs diff=lfs merge=lfs -text
Avanzada/Code.exe filter=lfs diff=lfs merge=lfs -text
Avanzada/Data/extensions/.743e290e-da8f-4bf3-8d4d-cf9feff1fa86/pythonFiles/lib/jedilsp/jedi/third_party/django-stubs/django-stubs/contrib/contenttypes/management/commands/remove_stale_contenttypes.pyi filter=lfs diff=lfs merge=lfs -text
